@font-face {
    font-family: "poppins";
    src: url(./Poppins-Medium.ttf);
}
:root{
    --dark-green: #163832;
    --less-dark-green: #2e5049;
    --light-green: #eef7f0;
}
html, body{
    font-family: "poppins";
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100dvw;
}
#sidebar{
    padding: 20px;
    background-color: var(--light-green);
    height: max(100%, 100dvh);
}
.add-div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.add-div > *{
    color: var(--dark-green);
    font-weight: 600;
}
.add-div button,
#main > :nth-child(2) button {
    background-color: var(--dark-green);
    border: none;
    border-radius: 100%;
    color: white;
    padding-block: 0px;
    padding-inline: 15px;
    font-size: 20px;
    font-weight: 900;
    height:40px;
}
.add-div button:hover, 
button[id = "add-project"],
p:last-child :last-child{
    cursor: pointer;
    background-color: var(--less-dark-green);
}
ul {
    list-style-type: none;
    padding-left: 13px;
  }
li::before {
    content: "#"; 
    margin-right: 0px;
}
li span, h3 span{
    color: gray;
    margin-left: 5px;
}
dialog{
    border-radius: 20px;
    border-color: #2e5049;
}
dialog form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
}
form > div:first-of-type{
    display: flex;
    flex-direction: column;
}
form input{
    height: 22px;
    font-size: 16px;
    border-radius:5px;
}
form > div:last-of-type{
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
form button{
    padding-block: 6px;
    padding-inline: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
form button:first-child{
    cursor: pointer;
}
button[id = "add-project"]{
    color: white;
    background-color: var(--dark-green);
}
::backdrop{
    background-color: rgba(0, 0, 0, 0.493);
    filter: blur(20px);
}
#main{
    flex-grow: 1;
    padding-inline: 60px;
    padding-block: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#main > :first-child{
    display: flex;
    gap: 20vw;
    align-items: center;
}
#main > :nth-child(2){
    display: flex;
    gap: 8px;
    align-items: center;
}
#main > :nth-child(2) button{
    height: fit-content;
    color: var(--dark-green);
    background-color: white;
}
#main > :nth-child(2) button:hover{
    cursor: pointer;
    background-color: var(--dark-green);
    color: white;
}
#main > :first-child button{
    background-color: white;
    border: none;
    height: fit-content;
}
#main > :first-child button:hover{
    cursor: pointer;
}
/* add task form*/
form:last-of-type{
    border: 1px gray solid;
    padding: 25px;
    border-radius: 12px;
}
p:last-child{
    display: flex;
    gap: 20px;
}
p:last-child :last-child{
    color: white;
    background-color: var(--dark-green);
}
form > p:nth-child(1) input,
form > p:nth-child(2) input{
    border: none;
}
form > p:nth-child(1) input:focus,
form > p:nth-child(2) input:focus{
    outline: none;
}
form > p:nth-child(1) input{
    font-size: 18px;
}
form > p:nth-child(1) input:placeholder-shown{
    font-weight: 900;
    
}
form > p:nth-last-child(2){
    display: flex;
    gap: 10px;
}
form > p > div{
    display: flex;
    gap: 2px;
}
/* style tasks*/
#main > :last-child > div{
    width: 60vw;
    display: flex;
    align-items: baseline;
    gap: 20px;
    
    border-bottom: #2e5049 solid 1px;
}
#main > :last-child > div > :nth-child(2) h5{
    font-size: 18px;
}
#main > :last-child > div > :first-child > p{
   margin-top: 70px;
}
input[type="checkbox"].p0 {
    accent-color: blue; /* Change to desired color */
  }
  input[type="checkbox"].p1 {
    accent-color: yellow; /* Change to desired color */
  }
  input[type="checkbox"].p2 {
    accent-color: orange; /* Change to desired color */
  }
  input[type="checkbox"].p3 {
    accent-color: red; /* Change to desired color */
  }
  #main > :last-child > div > :last-child{
    display: flex;
    gap: 10px;
    margin-left: auto;
  } 
  #main > :last-child > div > :last-child button{
    background-color: transparent;
    border: none;
  }
  #main > :last-child > div > :last-child button:hover{
    cursor: pointer;
  }
  li:hover{
    background-color: #9bb8b1;
    cursor: pointer;
    border-radius: 8px;
    padding: 7px;
  }
h5 + p{
    
        width: 360px; /* Set the width as per your requirement */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
}